################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RailWorkStation/GKG.RailWorkStationrSubMachineModules/.vs/GKG.RailWorkStationSubMachineModules
/RailWorkStation/GKG.RailWorkStationrSubMachineModules/bin
/RailWorkStation/GKG.RailWorkStationrSubMachineModules/obj
/RailWorkStation/RailWorkStationSubMachineModules/.vs
/RailWorkStation/RailWorkStationSubMachineModules/bin
/RailWorkStation/RailWorkStationSubMachineModules/obj
/RailWorkStation/.vs
/RailMotorSubMM/.vs
/RailMotorSubMM/RailMotorSubMachineModules/.vs
/RailAdjustWidthSubMM/GKG.RailAdjustWidthSubMachineModules/.vs
/RailAdjustWidthSubMM/GKG.RailAdjustWidthSubMachineModules/obj
/RailAdjustWidthSubMM/RailAdjustWidthSubMachineModules/.vs
/RailAdjustWidthSubMM/RailAdjustWidthSubMachineModules/obj
/RailAdjustWidthSubMM/.vs
/RailMotorSubMM/GKG.RailMotorSubMachineModules/obj
/RailMotorSubMM/RailMotorSubMachineModules/bin/Debug/net9.0
/RailMotorSubMM/RailMotorSubMachineModules/obj
/RailAdjustWidthSubMM/RailAdjustWidthSubMachineModules/bin/Debug/net9.0
/RailCommunicateSubMM/.vs
/RailCommunicateSubMM/GKG.RailCommunicateSubMachineModules/bin
/RailCommunicateSubMM/GKG.RailCommunicateSubMachineModules/obj
/RailCommunicateSubMM/RailCommunicateSubMachineModules/.vs
/RailCommunicateSubMM/RailCommunicateSubMachineModules/bin
/RailCommunicateSubMM/RailCommunicateSubMachineModules/obj
/RailMM/.vs
/RailMM/ConsoleApp1
/RailMM/GKG.RailMachineModules/obj
/RailMM/RailMachineModules/.vs
/RailMM/RailMachineModules/obj
/RailMM/x64/Debug
/RailCommunicateSubMM/GKG.RailCommunicateSubMachineModules/.vs/GKG.RailCommunicateSubMachineModules
/RailMM/RailMachineModules/bin/Debug/net9.0
/RailCommunicateSubMM/GKG.RailCommunicateSubMachineModules/.vs/ProjectEvaluation
