################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WeighingBalance/.vs
/WeighingBalance/GKG.WeighingBalanceSubMachineModules/bin/Debug
/WeighingBalance/GKG.WeighingBalanceSubMachineModules/obj
/WeighingBalance/Griffins.WeighingBalanceSubMachineModules/obj
/WeighingBalance/WeighingBalanceSubMachineModules/.vs
/WeighingBalance/WeighingBalanceSubMachineModules/bin/Debug
/WeighingBalance/WeighingBalanceSubMachineModules/obj
