################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MotionCalculate/Griffins.MotionCalculateSubMachineModules/.vs/Griffins.MotionCalculateSubMachineModules
/MotionCalculate/Griffins.MotionCalculateSubMachineModules/bin/Debug
/MotionCalculate/Griffins.MotionCalculateSubMachineModules/obj
/MotionCalculate/MotionCalculateSubMachineModules/bin/Debug
/MotionCalculate/MotionCalculateSubMachineModules/obj
/.vs/MotionCalculate/copilot-chat/eac3d873/sessions
/.vs/MotionCalculate/CopilotIndices/17.14.1368.60722
/.vs/MotionCalculate/DesignTimeBuild
/.vs/MotionCalculate/FileContentIndex
/.vs/MotionCalculate/v17
/.vs/ProjectEvaluation
/Calibration/CalibrationSubMachineModules/bin/Debug
/Calibration/CalibrationSubMachineModules/obj
/Calibration/Griffins.CalibrationSubMachineModules/.vs/Griffins.MotionCalculateSubMachineModules/CopilotIndices/17.14.1368.60722
/Calibration/Griffins.CalibrationSubMachineModules/.vs/Griffins.MotionCalculateSubMachineModules/DesignTimeBuild
/Calibration/Griffins.CalibrationSubMachineModules/.vs/Griffins.MotionCalculateSubMachineModules/FileContentIndex
/Calibration/Griffins.CalibrationSubMachineModules/.vs/MotionCalculate/v17
/Calibration/Griffins.CalibrationSubMachineModules/.vs/ProjectEvaluation
/Calibration/Griffins.CalibrationSubMachineModules/.vs/Griffins.MotionCalculateSubMachineModules/v17
/Calibration/Griffins.CalibrationSubMachineModules/bin/Debug
/Calibration/Griffins.CalibrationSubMachineModules/obj
/Calibration/Griffins.CalibrationSubMachineModules/Properties
/MotionCalculate/Griffins.MotionCalculateSubMachineModules/.vs
/Calibration/Calibration/bin/Debug/net9.0
/Calibration/Calibration/obj
/Calibration/GKG.CalibrationSubMachineModules/.vs
/Calibration/GKG.CalibrationSubMachineModules/bin/Debug
/Calibration/GKG.CalibrationSubMachineModules/obj
/MotionCalculate/GKG.MotionCalculateSubMachineModules/.vs
/MotionCalculate/GKG.MotionCalculateSubMachineModules/bin/Debug
/MotionCalculate/GKG.MotionCalculateSubMachineModules/obj
