*.pro.user
*.user
*.log
*.tmp
*.bak
*.obj
*.pdb
*.suo
*.ncb
*.aps
*.pch
*.ipdb
*.iobj
*.opensdf
*.tlog
*.dll
*.exe
*.manifest
*.qm
/build*/
/.vs/
/.vscode/
/.idea/
/CMakeFiles/
CMakeCache.txt
*.qrc.depends
*.qrc.release
*.qrc.debug
/generated/
/out/
*.pdb
*.ilk
*.cache
*.editorconfig
/bin/*
/obj/*
