################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
linux-riscv64
linux-x64
linux-x86
osx
win
win-arm64
win-x86
linux-arm
linux-arm64
linux-loongarch64
linux-musl-arm
linux-musl-arm64
linux-musl-loongarch64
linux-musl-riscv64
linux-musl-x64
Log
Log
/Griffins7.1/Bin/智造设备/智造设备管理平台/测试工具/模组测试工具/.vs
Log
/Griffins7.1/Bin/IotGwSvr/Config/newcenter.dat
/Griffins7.1/Bin/Share/ImeIOT/MM/Griffins.Map.xml
/配置数据文件备份.zip
/模组测试工具数据
