## Visual Studio 2022
## 编译生成的文件
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esult*/

## 用户特定文件
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

## IDE 文件
.vs/
.idea/
*.swp
*.swo

## 包目录
packages/
*.nupkg

## 其他
_ReSharper.*/
*.cache
*.log
!**/GKG.Log/
!**/GKG.Map.UIDataObj.Log/
!**/GKG.Map.UIDataObjProcess.Log/
*.tlog
*.lastbuildstate
/控件图元/Generic/GenericCtlMapCell/Container/MapCell_Canvas/Canvas拉伸同步属性实现说明.txt
/组件UI/Griffins.CompUI.SL/CompUI_SL/PageType/InitCfgPage/StandardCylinder

!/配置备份/
!/配置备份/**